* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.452);
}

.header {
  width: 100%;
  max-width: 1512px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 128, 0);
}

.logo img {
  width: 290px;
  padding: 17px 30px;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all .2s ease-in-out;
}

.navbar.active{
  background-color: rgba(0, 0, 0, 0.93);
}


.con1 {
  flex-basis: 38%;
  margin-left: 30px;
}

.link-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.link {
  list-style: none;
  position: relative;
}

.link::after{
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgb(255, 128, 0);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform .4s ease-out;
}

.link.al::after{
  content: '';
  width: 100%;
  position: absolute;
  padding: 5px 15px;
  height: 18px;
  transform: scale(1);
  background-color: rgb(255, 128, 0);
  bottom: -0.5px;
  left: -15px;
  z-index: -1;
  border-radius: 20px;
}

.link:hover:after{
  transform: scaleY(1);
}

.navbar.active .link:hover::after{
  transform: scale(0);
}

.link a {
  text-decoration: none;
  color: black;
}

.link .al{
  color: white;
}

.navbar.active .link-list a{
  color: rgb(233, 234, 227, 1);
  transition: all 0.2s ease-in;
}

.navbar.active .link-list a:hover{
  color: rgb(255, 128, 0);
}

.link.menu {
  display: none;
}

.con2 {
  flex-basis: 40%;
  height: auto;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  overflow: hidden;
}

.search-con {
  flex-basis: 50%;
  height: auto;
  text-align: right;
  position: relative;
}

.search {
  position: relative;
}

.input-search {
  background-color: transparent;
  border: 2px solid black;
  height: 18px;
  width: 18px;
  padding: 0 0px;
  font-size: 1.1em;
  font-weight: lighter;
  color: rgb(233, 234, 227, 1);
  border-radius: 24px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.navbar.active .input-search{
  border-color: rgb(233, 234, 227, 1);
  color: rgb(0, 0, 0);
}

.navbar.active .input-search:hover{
  border-color: rgb(255, 128, 0);
}

.input-search:focus {
  width: 100%;
  height: 32px;
  padding: 0 12px;
  outline: none;
  cursor: text;
  background-color: rgb(233, 234, 227, 1);
  opacity: 1;
  color: rgb(0, 0, 0);
}

.navbar.active .input-search:hover:focus{
  border-color: rgb(233, 234, 227, 1);
}

.input-search + .search:after {
  content: "";
  border-top: 3px solid black;
  width: 15px;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -1.5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar.active .search:after{
  border-color: rgb(233, 234, 227, 1);
}

.navbar.active .input-search + .search:hover::after{
  border-color: rgb(255, 128, 0);
}

.input-search + .search:before {
  content: "";
  border-top: 3px solid black;
  width: 0px;
  display: block;
  position: absolute;
  right: -2px;
  bottom: 19px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
  cursor: pointer;
}

.input-search:focus + .search:after {
  content: "";
  border-top: 3px solid black;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 9px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.navbar.active .input-search:focus + .search:hover::after{
  border-color: rgb(0, 0, 0);
}

.input-search:focus + .search:before {
  right: 10px;
  bottom: 9px;
  width: 15px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}

.icon-list {
  flex-basis: 40%;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar.active .icon-list{
  color: rgb(233, 234, 227, 1);
}

.icon {
  list-style: none;
  position: relative;
}

.fa-user,
.fa-cart-shopping {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease-out;
  color: rgb(0, 0, 0)  ;
}

.navbar.active .fa-user,
.navbar.active .fa-cart-shopping{
  color: rgb(233, 234, 227, 1);
}

.icon.acc:hover:after{
  opacity: 1;
}

.navbar.active .fa-user:hover,
.navbar.active .fa-cart-shopping:hover{
  color: rgb(255, 128, 0);
}

@media (max-width: 760px) {

  .logo img{
    width: 240px;
    padding: 10px 25px;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.93);
  }
  .con1 {
    flex-basis: 10%;
    overflow: hidden;
  }

  .link {
    display: none;
  }

  .link.menu {
    display: block;
    font-size: 20px;
    color: rgb(233, 234, 227, 1);
  }

  .con2 {
    flex-basis: 70%;
    justify-content: space-between;
  }

  .search-con {
    flex-basis: 65%;
  }

  .input-search{
    border-color: rgb(233, 234, 227, 1);
    color: rgb(0, 0, 0);
  }

  .input-search + .search::after{
    border-color: rgb(233, 234, 227, 1);
  }

  .icon-list {
    flex-basis: calc(20px + 11vmin);
    justify-content: space-between;
  }

  .fa-cart-shopping,.fa-user{
    color: rgb(233, 234, 227, 1);
    transition: all .2s ease-out;
  }

  .icon.acc::after{
    display: none;
  }

  .fa-cart-shopping:hover,
  .fa-user:hover{
    color: rgb(233, 234, 227, 1);
  }
}

main {
  width: 100%;
  max-width: 1512px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.hc1 {
  width: 100%;
  height: auto;
  max-height: 650px;
  margin-top: 90px;
  overflow: hidden;
  position: relative;
}

.hc1 .contents{
  user-select: none;
}

.hc1 .content.active{
  display: block;
}

.hc1 .content{
  display: none;
}

.hc1 .img-con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hc1 img {
  width: 100%;
  min-width: 1300px;
}

.hc1 .text-con {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  max-width: 680px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hc1 .text-con .ht {
  color: rgb(255, 128, 0);
  font-size: calc(100% + 0.6vmax);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.hc1 .text-con .title {
  font-size: calc(37px + 1.5vmax);
  font-weight: 600;
  margin-bottom: 20px;
}

.hc1 .pt{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.hc1 input.sn {
  width: 200px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: rgb(255, 128, 0);
  color: rgb(233, 234, 227, 1);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Rajdhani", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.4s ease-out;
}

.hc1 input.sn:hover {
  background-color: rgb(233, 234, 227, 1);
  color: rgb(255, 128, 0);
  border: 1px solid rgb(255, 128, 0);
}

.hc1 .btn-con{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hc1 .next-btn,
.hc1 .prev-btn{
  margin: 20px;
}

.hc1 .fa-caret-left,
.hc1 .fa-caret-right{
  font-size: 40px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .hc1 {
    margin-top: 110px;
  }

  .hc1 .btn-con{
    display: none;
  }
}


.hc2{
  width: 100%;
  height: auto;
  padding-top: 30px;
  background-color: white;
}

.hc2 .sg-pd-list{
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
}

.hc2 .list-con{
  flex-basis: 32%;
  min-width: 200px;
  overflow: hidden;
  background-color: rgb(255, 128, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.hc2 .text-con{
  height: fit-content;
  padding: 15px 0;
}

.hc2 .ht{
  color: rgb(255, 255, 255);
  font-size: calc(70% + 1vmax);
}

.hc2 .img-con{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.hc2 img{
  width: 120%;
}

.hc2 .sn-con{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hc2 .sn{
  padding: 5px 15px;
  border: 1px solid rgb(255, 128, 0);
  border-radius: 10px;
  background-color: rgb(233, 234, 227, 1);
  color: rgb(255, 128, 0);
  font-size: 1.8vmax;
  cursor: pointer;
  transition: all .2s ease-out;
}

.hc2 .sn:hover{
  background-color: rgb(255, 128, 0);
  color: rgb(233, 234, 227, 1);
}


@media (max-width: 458px){

  .hc2 .list-con{
    min-width: 260px;
  }

}

.hc3{
  width: 100%;
  height: auto;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
}

.hc3 .con{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}


.hc3 .title{
  margin-bottom: 20px;
  width: fit-content;
  position: relative;
}

.hc3 .title .ht{
  font-size: calc(70% + 1.2vmax);
  color: rgb(0, 0, 0);
  padding: 10px 0;
  letter-spacing: 2px;
}

.hc3 .title .ht::before{
  content: "";
  width: 30%;
  height: 3px;
  background-color: rgb(255, 128, 0);
  position: absolute;
  bottom: 0;
  left: 0;
}

.hc3 .title .ht::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(255, 128, 0, 0.123);
  position: absolute;
  bottom: 0;
  left: 0;
}

.hc3 .pop-tab{
  width: 100%;
  display: flex;
  overflow: initial;
  background-color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.hc3 .pop-tab li{
  width: fit-content;
  float: left;
  padding: 10px;
  list-style: none !important;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

.hc3 .pop-tab li.active{
  background-color: rgb(255, 128, 0);
  color: rgb(255, 255, 255);
}

.hc3 .pop-tab li a{
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 128, 0);
}

.hc3 .pop-tab li.active a{
  color: rgb(255, 255, 255);
}

.hc3 .product{
  height: 400px;
  background-color: rgb(255, 255, 255);
}


